/* CardTable.css */
.card-table {
  width: 100%;
  border-collapse: collapse;
}

.card-table th,
.card-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.card-table th {
  background-color: #f2f2f2;
  cursor: pointer; /* Indicate that the headers are clickable */
}

.card-table th:hover {
  background-color: #ddd; /* Highlight header on hover */
}
