/* Stylizacja kontenera formularza */
.login-container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto; /* Centrowanie w poziomie i dodanie marginesu od góry */
  padding: 20px;
  background-color: #ffffff; /* Białe tło */
  border-radius: 10px; /* Zaokrąglone rogi */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Delikatny cień */
}

/* Stylizacja nagłówka formularza */
.login-container h2 {
  text-align: center;
  color: #333333; /* Ciemny kolor tekstu */
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
}

/* Stylizacja pól wejściowych */
.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc; /* Szary kolor granic */
  border-radius: 5px; /* Zaokrąglone rogi */
  box-sizing: border-box; /* Pełna szerokość */
  font-size: 16px; /* Większy tekst */
  font-family: "Arial", sans-serif;
}

/* Stylizacja przycisku logowania */
.login-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Niebieski kolor */
  color: #ffffff; /* Biały kolor tekstu */
  border: none; /* Usunięcie granic */
  border-radius: 5px; /* Zaokrąglone rogi */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Płynne przejście */
}

/* Stylizacja przycisku na hover */
.login-container button[type="submit"]:hover {
  background-color: #0056b3; /* Ciemniejszy niebieski na hover */
}

/* Stylizacja błędów */
.login-container p {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}
