/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: margin-left 0.3s ease; /* Animacja przesunięcia */
}

.app-container.menu-open {
  margin-left: 300px; /* Dostosuj tę wartość do szerokości SlideOutMenu */
}

.slide-out-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Szerokość menu */
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.slide-out-menu.open {
  transform: translateX(0);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}
img {
  width: 5vh;
  height: 5vh;
}

.menu-toggle-btn {
  font-size: 1em;
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-toggle-btn:hover {
  background-color: #555;
}

.close-btn {
  background-color: #cc0000;
}

.close-btn:hover {
  background-color: #aa0000;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: white;
}

.hero-section {
  background-color: #007bff;
  color: white;
  padding: 40px;
  text-align: center;
}

.hero-section h1 {
  margin: 0;
  font-size: 2.5em;
}

.hero-section p {
  margin: 20px 0;
  font-size: 1.2em;
}

.cta-btn {
  background-color: #ff9900;
  color: white;
  padding: 15px 30px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-btn:hover {
  background-color: #e68a00;
}

.features-section,
.testimonials-section {
  padding: 40px 20px;
  margin: 20px 0;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.features-section h2,
.testimonials-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.testimonials-section blockquote {
  font-size: 1.5em;
  margin: 20px 0;
  padding-left: 20px;
  border-left: 5px solid #007bff;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
}

.footer-nav li {
  display: inline;
  margin: 0 15px;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.social-icons a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-size: 1.2em;
}

.social-icons a:hover {
  color: #ff9900;
}
