.carousel-container {
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

.carousel-item {
  text-align: center;
  padding: 20px;
}

.author {
  font-weight: bold;
  margin-top: 10px;
  color: #555;
}

.slick-dots {
  bottom: -30px;
}
